<ion-header>

  <ion-navbar>
    <ion-title>{{bookListing.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label>Description</ion-label>
  <p>{{bookListing.description}}</p>

  <ion-label>Condition</ion-label>
  <p>{{bookListing.condition}}</p>

  <ion-label>Price</ion-label>
  <p> {{bookListing.price}}</p>

  <button ion-button block (click)="presentMessageModal()" *ngIf="!isListingByCurrentUser()">Contact Seller</button>
  <button ion-button block (click)="presentEditModal()" *ngIf="isListingByCurrentUser()">Edit Post</button>
</ion-content>