<ion-header>

  <ion-navbar>
    <ion-title>{{bookListing.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="photo-container" text-center>
    <img src={{bookListing.photos[0]}}/>
  </div>

  <div class="listing-information">
    <ion-row>

      <ion-col class="listing-information-column-right">
        <p class="listing-main-information book-title">{{bookListing.title}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 class="listing-information-column-left">
        <ion-label>Price</ion-label>
      </ion-col>
      <ion-col class="listing-information-column-right">
        <p class="listing-main-information">{{bookListing.price}}</p>
      </ion-col>
      <ion-col col-3 class="listing-information-column-left ">
        <ion-label>Condition</ion-label>
      </ion-col>
      <ion-col class="listing-information-column-right ">
        <p class="listing-main-information">{{bookListing.condition}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 class="listing-information-column-left ">
        <ion-label>IBSN</ion-label>
      </ion-col>
      <ion-col class="listing-information-column-right ">
        <p class="listing-sub-information">{{bookListing.isbn}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-3 class="listing-information-column-left listing-information-column-bottom">
          <ion-label>Area</ion-label>
        </ion-col>
        <ion-col class="listing-information-column-right listing-information-column-bottom">
          <p class="listing-sub-information">{{bookListing.address}}</p>
        </ion-col>
      </ion-row>
  </div>

  <user-profile-information [user]="seller" *ngIf="!isListingByCurrentUser()" (click)="goToSellerProfile()"></user-profile-information>
  <div class="listing-information">
    <ion-row>
      <ion-col class="listing-information-column-left">
        <ion-label>Description</ion-label>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col class="listing-information-column-right listing-information-column-bottom">
        
        <p class="listing-sub-information">{{bookListing.description}}</p>
      </ion-col>
    </ion-row>
  </div>

  <ion-list class="messagesContainer" *ngIf="(allConversations.length > 0)">
    <ion-list-header>
      <p>Conversations</p>
    </ion-list-header>
    <ion-row class="conversation-row" *ngFor="let conversation of allConversations" (click)="goToConversation(conversation)">
      <ion-col>{{conversation.senderName}}</ion-col>
    </ion-row>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button block (click)="presentEditModal()" *ngIf="isListingByCurrentUser()">Edit Post</button>
    </ion-col>
    <ion-col>
      <button ion-button block (click)="markBookAsSold(true)" *ngIf="isListingByCurrentUser() &amp;&amp; bookListing.sold == false">Mark as Sold</button>
      <button ion-button block (click)="markBookAsSold(false)" *ngIf="isListingByCurrentUser() &amp;&amp; bookListing.sold == true">Re-list</button>
    </ion-col>
  </ion-row>

  <button ion-button block (click)="goToConversation()" *ngIf="!isListingByCurrentUser()">Message</button>
  <button ion-button block (click)="closeModal()" *ngIf="isOpenedAsModal()">Close</button>
</ion-footer>