<ion-header>

  <ion-navbar>
    <ion-title>{{bookListing.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label>Description</ion-label>
  <p>{{bookListing.description}}</p>

  <ion-label>Condition</ion-label>
  <p>{{bookListing.condition}}</p>

  <ion-label>Price</ion-label>
  <p> {{bookListing.price}}</p>


  <user-profile-information [user]="seller" *ngIf="!isListingByCurrentUser()" (click)="goToSellerProfile()"></user-profile-information>

  <ion-list class="messagesContainer">
    <ion-item *ngFor="let conversation of allConversations" (click)="goToConversation(conversation)">
      <p>Sender: {{conversation.senderName}}</p>
      <p>Title: {{conversation.bookTitle}}</p>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <button ion-button block (click)="presentEditModal()" *ngIf="isListingByCurrentUser()">Edit Post</button>
    </ion-col>
    <ion-col>
      <!--TODO: Change to SOLD!-->
      <button ion-button block (click)="markBookAsSold()" *ngIf="isListingByCurrentUser()">Mark as Sold</button>
    </ion-col>
  </ion-row>

  <button ion-button block (click)="goToConversation()" *ngIf="!isListingByCurrentUser()">Message</button>
  <button ion-button block (click)="closeModal()" *ngIf="isOpenedByModal()">Close</button>
</ion-content>