page-register {
    ion-content {
        background: url("../../assets/imgs/login-screen.jpg") no-repeat center fixed;
        background-size: cover;
        ion-card {
            background-color: map-get($colors, transparent-white) !important;
            
           
            ion-item {
                background-color: transparent !important;
                ion-input {
                    background-color: #FFF;
                    border-radius: 2.5%;
                }
            }
            .profile-photo-container {
                position: relative;
                width: 200px;
                height: 200px;
                border-radius: 100%;
                margin: 0 auto;
                line-height: 146px;
                overflow: hidden;
                background-color: map-get($colors, transparent-grey);
                border: 4px dashed map-get($colors, primary);
                img {
                    width: 100%;
                    height: 250px;
                }
                .add-photo-button {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    background-color: transparent;
                    ion-icon {
                        color: map-get($colors, transparent-primary);
                        font-size: 150px;
                    }
                }
            }
        }
    }
}