<ion-content padding>
  <ion-card>

    <ion-item >
      <h1 class="login-header">Register</h1>
    </ion-item>

    <div class="profile-photo-container" text-center>
      <button ion-button icon-only class="add-photo-button" (click)="takePhoto()">
        <ion-icon name="add"></ion-icon>
      </button>
      <img *ngIf="previewImage.length > 0" [src]="'data:image/jpeg;base64,' + previewImage" />
      <img *ngIf="previewImage.length == 0" src="assets/imgs/fallback-profile-photo.jpg" />
    </div>

    <ion-item>
      <ion-input type="text" [(ngModel)]="user.name" placeholder="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" [(ngModel)]="user.email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" [(ngModel)]="confirmedEmail" placeholder="Confirm e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" min=6 [(ngModel)]="password" placeholder="Password (6 characters or more)"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button block (click)="registerUserWithEmailAndPassword()">
        Register account
      </button>
      <button ion-button block (click)="goBackToLogin()">Cancel</button>
    </ion-item>

  </ion-card>

</ion-content>