<ion-header>

  <ion-navbar>
    <ion-title>Chat - </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div *ngFor="let message of messages | async | reverse">
      <message *ngIf="message != undefined" 
      [messageText]="message.messageText">Test</message>
    </div>

  </ion-list>
</ion-content>

<ion-footer>
    <ion-item>
        <ion-textarea [(ngModel)]="messageText" placeholder="Enter Message"></ion-textarea>
      </ion-item>
    
      <button block ion-button (click)="sendMessage()">Send Message</button>
    <!-- <button ion-button block (click)="presentMessageModal()">Message</button>   -->
</ion-footer>