<ion-header>

  <ion-navbar>
    <ion-title>{{listing.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ng-container *ngFor="let message of messages | async">
      <message  [class.message-by-current-user]="isMessageSentByCurrentUser(message)" *ngIf="message != undefined" [messageText]="message.messageText">Test</message>
    </ng-container>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="messageText" placeholder="Enter Message"></ion-textarea>
  </ion-item>

  <button block ion-button (click)="sendMessage()">Send Message</button>
</ion-footer>