<ion-header>

  <ion-navbar>
    <ion-title>{{recipient.name}} - {{listing.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <!--TODO: add pipe for CSS???-->
    
    <div *ngFor="let message of messages | async | reverse">
      <message *ngIf="message != undefined" 
      [messageText]="message.messageText">Test</message>
    </div>

  </ion-list>
</ion-content>

<ion-footer>
    <ion-item>
        <ion-textarea [(ngModel)]="messageText" placeholder="Enter Message"></ion-textarea>
      </ion-item>
    
      <button block ion-button (click)="sendMessage()">Send Message</button>
</ion-footer>