book-listing {
    .bookListingContainer {
        width:40%;
        height: 140px;
        -webkit-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.3);
    }
    .bookListingImage {
        width:90%;
        display: block;
        margin: 0 auto;
    }
}