page-buy-feed {

  .listing-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;

    book-listing {
      width: 49%;
      margin: .5%;
   
    }
     
  }
  .buyfeed-navbar-filter {
    background-color: map-get($colors, light);
    width: 100%;

    p {
      width:48%;
    }
  }

}
