<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-searchbar [(ngModel)]="filterSearch" (ionInput)="setBookListingObservableOnCollection()" placeholder="Search by title or ISBN..."></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFilters()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ng-container *ngIf="getFilterIsOpen()">
    <ion-list class="buyfeed-navbar-filter">
      <ion-list-header class="buyfeed-navbar-filter">
        Price
        <ion-badge item-end color="primary">{{priceRange.lower}}</ion-badge>
        <ion-badge item-end color="primary">{{priceRange.upper}}</ion-badge>
      </ion-list-header>
      <ion-item class="buyfeed-navbar-filter">
        <ion-range class="buyfeed-navbar-filter" dualKnobs="true" pin="true" min="0" max="2000" [(ngModel)]="priceRange" (ionChange)="setBookListingObservableOnCollection()">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>2000</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-header>

<ion-content>
  <ion-list class="listing-container">
    <ng-container *ngFor="let listing of bookListings | async | reverse ">
      <book-listing *ngIf="checkIfListingPassesFilter(listing)" [listingImage]="listing.photos[0]" [bookListingTitle]="listing.title"
        [bookListingPrice]="listing.price" (click)="goToListing(listing)">
      </book-listing>
    </ng-container>
  </ion-list>
</ion-content>