<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>User Profile</ion-title>
    <ion-buttons end>

      <button ion-button icon-only (click)=logoutUser()>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid class="userInformationContainer">

    <ion-row>
      <ion-col col-auto>
        <img class="profilePhoto" src={{user.photoURL}}>
      </ion-col>

      <ion-col>
        <ion-row>
          <p class="userName">Name: {{user.name}}</p>
        </ion-row>
        <ion-row>
          <p class="userEmail">E-mail: {{user.email}}</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="messagesAndListingsContainer">
    <button full ion-button (click)="openMessagesContainer()">Messages</button>
    <button full ion-button (click)="openListingsContainer()">My Listings</button>

    <ion-list class="messagesContainer" *ngIf="displayMessagesContainer()">
      <ion-item *ngFor="let conversation of allConversations" (click)="goToConversation(conversation)">
        <p>Sender: {{conversation.senderName}}</p>
        <p>Title: {{conversation.bookTitle}}</p>
      </ion-item>

    </ion-list>

    <ion-list class="myListingsContainer" *ngIf="!displayMessagesContainer()">
      <ion-item *ngFor="let listing of listings | async" (click)="presentListingModal(listing)">
        <img src="{{listing.photos[0]}}"/>
        <p>Listing: {{listing.title}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>