<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>User Profile</ion-title>
    <ion-buttons end>

      <button ion-button icon-only (click)=logoutUser()>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <user-profile-information [user]="user"></user-profile-information>

  <div class="messagesAndListingsContainer">
    <button full ion-button [class.focused-container]="displayMessagesContainer()" (click)="openMessagesContainer()">Messages</button>
    <button full ion-button [class.focused-container]="!displayMessagesContainer()" (click)="openListingsContainer()">My Listings</button>

    <ion-list class="messagesContainer" *ngIf="displayMessagesContainer()">
      <ion-list-header>
        <ion-row>
          <ion-col col-7>Book</ion-col>
          <ion-col>With</ion-col>
        </ion-row>
      </ion-list-header>
      <ion-row *ngFor="let conversation of allConversations" (click)="goToConversation(conversation)">
        <ion-col col-7 class="conversation-book-title">{{conversation.bookTitle}}</ion-col>
        <ion-col>{{conversation.senderName}}</ion-col>
      </ion-row>
    </ion-list>

    <ion-list class="myListingsContainer" *ngIf="!displayMessagesContainer()">
      <ion-row *ngFor="let listing of listings | async | reverse" (click)="presentListingModal(listing)">
        <ion-col col-2>
          <img src="{{listing.photos[0]}}" />
        </ion-col>
        <ion-col>
          <p>{{listing.title}}</p>
        </ion-col>
      </ion-row>


    </ion-list>
  </div>
</ion-content>