user-profile-information {
    .userInformationContainer {
        border-bottom: 2px solid #000;
        padding: 0px !important; 

        .imageColumn {
            width: 10px;
        }
        .profilePhoto {
            width: 25vw;
            height: 25vw;
            border-radius: 100%;
            border: 2px solid #000;
        }
    }
}